#cart {
    /* Theme */
    background-color: var(--main-dark-color);

    /* Dimensions */
    height: 90%;
    width: min(90%, 900px);
    overflow: auto;

    /* Positioning */
    margin: auto;

    /* Others */
    border-radius: 10px;
    border: 1px solid var(--main-dark-color);
}