footer {
    /* Positioning */
    flex: 0 0 auto;

    /* Theme */
    background-color: var(--main-dark-color);

    /* Padding */
    padding: 10px;

    /* icon */
    font-size: 1.4rem;
    text-align: center;
}

footer svg {
    color: var(--main-light-color);
    display: block;
    margin: auto;
}

footer svg:hover {
    color: green;
}